<div class="app-container">
	<mat-toolbar color="primary" class="app-toolbar">
		<button mat-button (click)="sidenav.toggle()">Menu</button>
	</mat-toolbar>

	<mat-sidenav-container class="app-sidenav-container">
		<mat-sidenav #sidenav mode="over" class="app-sidenav">
			<mat-accordion [multi]="false" class="chapter-accordion">
				@for (chapter of chapters; track chapter.id) {
				<mat-expansion-panel [expanded]="isChapterActive(chapter)">
					<mat-expansion-panel-header>
						<mat-panel-title>
							{{ chapter.title }}
						</mat-panel-title>
					</mat-expansion-panel-header>

					<mat-nav-list>
						@for (item of chapter.items; track item.route) {
						<a mat-list-item [routerLink]="item.route" routerLinkActive="active-link"
							(click)="sidenav.close()">
							{{ item.label }}
						</a>
						}
					</mat-nav-list>
				</mat-expansion-panel>
				}
			</mat-accordion>
		</mat-sidenav>

		<mat-sidenav-content class="app-content">
			<main class="main">
				<div class="content">
					<router-outlet></router-outlet>
				</div>
			</main>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
