.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.app-toolbar {
	flex: 0 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid color-mix(in srgb, var(--mat-sys-primary) 60%, transparent);
}

.app-toolbar-title {
	margin-left: 16px;
	font-weight: 600;
}

.app-sidenav-container {
	flex: 1 1 auto;
	height: calc(100vh - 64px);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.app-sidenav {
	width: 280px;
	padding: 16px;
}

.app-content {
	height: 100%;
	overflow: scroll;
	position: relative;
}

.main {
	height: 100%;
	// overflow: hidden;
}

.content {
	padding: 0px;
	min-height: 100%;
}

.mat-divider {
	margin: 16px 0;
}

@media (max-width: 599px) {
	.app-sidenav-container {
		height: calc(100vh - 56px);
	}
}
