<div class="app-container">
	<mat-toolbar color="primary" class="app-toolbar">
		<button mat-button (click)="sidenav.toggle()">Menu</button>
	</mat-toolbar>

	<mat-sidenav-container class="app-sidenav-container">
		<mat-sidenav #sidenav mode="over" class="app-sidenav">
			<mat-nav-list>

				<!-- ГЛАВИ -->
				@for (chapter of chapters; track chapter.id) {

				<h3 class="chapter-title">{{ chapter.title }}</h3>

				<!-- ПУНКТИ ГЛАВИ -->
				@for (item of chapter.items; track item.route) {
				<a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" (click)="sidenav.close()">
					{{ item.label }}
				</a>
				}

				<mat-divider></mat-divider>
				}
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content class="app-content">
			<main class="main">
				<div class="content">
					<router-outlet />
				</div>
			</main>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
