:host {
	display: block;
	width: 100%;
	height: 100%;
}

/* Wrapper займає весь простір */
.canvas-wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
}

/* Canvas */
.webgl {
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
}
